@{
    ViewBag.Title = "Pagina de Inicio";
}

<div class="jumbotron">
    <h1>Cuidados Paliativos Grecia</h1>
    <p class="lead">Es una institución que brindan distintos tipos de ayuda a pacientes y 
    familiares con enfermedades crónicas en etapa terminal.Tratando de fomentar el voluntariado para atender cada caso.</p>
    <p><a href="https://www.facebook.com/Cl%C3%ADnica-Control-del-Dolor-y-Cuidados-Paliativos-de-Grecia-109710849120485/timeline" class="btn btn-primary btn-lg">Leer mas &raquo;</a></p>
</div>

