@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">A ocurrido un error  si persiste favor contactar  a soporte tecnico.</h2>

